body {
	background-color: #F5F5F5;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0px;
  margin: 0px;
}
.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
   /*background-color: #fff;*/
   border: 1px solid transparent;
}
.bhej{
		color: #fff;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 2.9em;
}
.akl{
		color: #000;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 3.9em;
}
.dfg{
		color: #000;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 3.0em;
}

.cam{
	  width: 6.0%;
    padding: 0px;
    margin: 0px;
}
.message{
    padding: 0px;
    margin: 0px;
    width: 80%;
}
.send{
	width: 6.0%;
    padding: 0px;
    margin: 0px;
}
.clip{
	width: 5.0%;
	 padding: 0px;
    margin: 0px;
}
.assistant{
	background-color: #fff;
}
.bot_message{
	background-color: #fff;
	display: inline-block;
	text-align: center;
	width: 50%;
  /*padding: 20px;*/
}
.bot_message1{
	background-color: #fff;
	display: inline-block;
	text-align: center;
	width: 50%;
}
.user_message{
	background-color: #B2EBF2;
	display: inline-block;
	text-align: center;
	width: 50%;
	float: right;
	/*padding: 20px;*/
}
.main1{
	width: 100%;
/*	padding-bottom: 20px;*/
	border-radius: 50%;
} 
.main2{
	width: 100%;
	padding-bottom: 60px;
	border-radius: 50%;
}
.sel{
  width: 50%;
}
/*.btn{
    color: #fff;
    background-color: #EF6C00
    border-color: #EF6C00
    }*/

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #EF6C00;
}    
.in{
	height: 54px;
}
.attach{

}
.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited {
    background-color: #FFFFFF;
        border-color: #FFFFFF;
}  
.head{
	background-color: #0091EA;
}
.navbar-default .navbar-brand {
    color: #fff;
}
h3{
	color: #EF6C00;
}
#upload{
    display:none
}
.main{
	    width: 100%;
    min-height: 520px;
}
#xyz{
    overflow: auto;

}